
@import '~antd/dist/antd.css';

.pageWrap {
    /* 相对于全屏的高度  */
    min-height: 100vh;
    display: flex;
    /* width: auto; */
    flex-direction: column;
}
#logo {
    color: aliceblue;
    margin-bottom: 0;
    text-align: center;
}

.wrap{
    position: relative;
    max-width: 980px;
    margin: 0 auto ;
    /* border:5px solid red; */
}
.headerDivider {
    float: left;
    margin: 10px 0;
    height: 44px;
}
#nav {
    float: left;
    /* margin-left: 30px; */
    background: none;
    border: none;
    line-height: 62px;
}
#nav a {
    color: #fff;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}
/* #divide {
    position: absolute;
    top: 12px;
} */
.xsNav {
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
    /* height: 100px;
    color: yellow; */
}
.main{
    flex:1;
    /* margin-left: 30px; */
    background-color: pink;

}
.main .wrap {
    border: 5px solid green;
    border-top: none;
    /* overflow: visible; */
}
.indexSider {
    border-right: 3px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    
}
#indexMenu {
    /* 记得去掉这个左侧导航栏的右边线 */
    border-right: 3px solid black;
}
#indexMenu li {
    margin-right: -1px;
    transition: .5s;
    text-align: center;
    border-right: 3px solid rgba(0,0,0,0);
}
#indexMenu li:hover,
#indexMenu .ant-menu-item-active{
    background: #e6f7ff;
    border-right-color: #1890ff;
}
#indexXsMenu {
    display: flex;
}
#indexXsMenu li {
    flex: 1;
    float: none;
    text-align: center;
}
.indexList {
    padding: 0 10px;
}
.indexList p {
    margin: 0;
}
.ant-list-item-meta {
    align-items: center;
    min-width: 200px;
}
.ant-list-item-action {
    margin-left: 45px;
}
/* 为防止有用户长传大图，所以要对图片做限制 */
.wrap img {
    max-width: 100%;
}
/* .indexList {
    border-left: 1px solid #000;
} */
/* 
小屏下可以用xs来解决，避免繁琐
@media all and (max-width: 767px) {
    #indexMenu{
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    #indexMenu li {
        flex: 1;
        /* 让小导航栏的宽度撑满 */
        /* margin: 0 0 -1px 0;
        border: none;
        border-bottom: 3px solid rgba(0,0,0,0);
    }
    #indexMenu li:hover,
    #indexMenu .ant-menu-item-active{
        background: none;
        border-bottom-color: #1890ff;
    }
    .indexList {
        border-left: none;
    }
}  */